* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    background:#0077FF;    
}
html {
    /* A cada 1rem será considerado 10px */
    font-size: 62.5%;
}
.container{
    display: grid;
    grid-template-columns:3fr 1fr;
    grid-template-rows:20vh 40vh 10vh 30vh;   
    color:#FFF;
    font-size: 2rem;
}
header{
    grid-column:1/3; /* Inicia na coluna 1 e termina na coluna 2 */    
    grid-row:1/5;    /* Inicia na linha 1 e termina na linha 4 */
    background-color: rgb(255, 99, 71);          
}
main{
    height:15rem;    
    background-color:#ffff00;
    
}
aside{
    height:15rem;
    background-color:black;    
}
footer{
    
    height:15rem;
    background-color:#008000;
}






