* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    background:#0077FF;    
}
html {
    /* A cada 1rem será considerado 10px */
    font-size: 62.5%;
}
.container{
    display: grid;
    grid-template-columns:1fr 2fr;
    grid-template-rows:20vh 40vh 30vh 10vh;   
    color:#FFF;
    font-size: 2rem;
}
header{
    grid-column-start:1;
    grid-column-end:3;
    background-color: #ff6347;
    height:auto;   
    
}
main{      
    grid-row-start:2;    
    grid-row-end:4;
    height:15rem;    
    background-color:#ffff00;
    
}
aside{           
    grid-row-start:2;    
    grid-row-end:4; 
    background-color:black;      
}
footer{
    grid-column-start:1;
    grid-column-end:3;    
    
    height:15rem;
    background-color:#008000;
}






